{
 :name "Hyprland environment preparation"
 :version "0.1.0"
 :steps [
 {
  :desc "Install packages from standard package manager."
  :command "pamac install --no-confirm"
  :arguments
  ["hyprland"
   "hyprlock"
   "hypridle"
   "kitty"
   "nwg-displays"
   "nwg-look"
   "swww"
   "waybar"
   "swaync"
   "pulsemixer"
   ]
  }
 {
  :desc "Install packages from aur."
  :command "pamac install --no-confirm"
  :arguments
  ["waypaper", "pwvucontrol"]
  }
 {
  :desc "Install hyprpm plugins."
  :command "hyprpm add"
  :arguments
  ["https://github.com/outfoxxed/hy3"]
  :run-command-for-each-package true
  }
 {
  :desc "Enable hyprpm plugins."
  :command "hyprpm enable"
  :arguments
  ["hy3"]
  :run-command-for-each-package true
  }
 ]
}
